# Build artifacts
*.o
*.ko
*.core
*.d
*.depend

# Executables
rkfb_clear
rkfb_fill
rkfb_info
rect_readback
a.out

# FreeBSD module build dirs
obj/
*.debug

# Temp files
*~
*.swp

export_syms
machine
opt_global.h

rkfb-o*
